body {
    margin: 0 auto;
}

header {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 100;
    margin: var(--sm) var(--sm) 0;
    background-color: var(--primary-color);
    border-radius: var(--br-sm);
    justify-content: space-between;
    padding: 0.2rem;

    a {
        display: flex;
        align-self: center;
        padding-left: 1rem;

        svg.pd-brand {
            height: 1.5rem;
        }
    }

    button {
        display: flex;

        svg.icon {
            height: var(--sm);
            align-self: center;
        }
    }
}


section.intro-txt {
    p {
        padding: var(--md) var(--sm);
    }

    a.btn-primary {
        display: flex;
        align-items: center;
        gap: .25rem;
        width: fit-content;
        margin: 0 auto;

        svg {
            height: var(--sm);
            width: var(--sm);
        }
    }
}

.business-qte {
    margin: 0 auto;

    li.quotes {
        width: 100%;
        color: var(--primary-color);
        list-style-type: none;

        font-family: var(--primary-font);
        font-style: italic;
        font-size: 1.25rem;
        font-weight: var(--fw-semibold);

        padding-right: 1.5rem;
        border-left: 3px solid var(--primary-color);
    }

    ul {
        display: grid;
        grid-template-columns: max-content;
        grid-template-rows: max-content max-content max-content max-content;
        gap: var(--xs);
        padding: var(--md) var(--sm);
        margin: 0 auto;

        @media (width > 36rem) {
            grid-template-columns: max-content max-content;
            grid-template-rows: max-content max-content;
            gap: var(--xs);
            justify-content: center;
            margin-top: var(--md);

            li:nth-of-type(3) {
                grid-column: 2/3;
                grid-row: 1;
            }
        }

        @media (width > 70rem) {
            grid-template-columns: max-content max-content max-content max-content;
        }
    }

    li.quotes {
        margin: 0;
    }

}

section.subtext {
    p {
        padding: var(--md) var(--sm);
    }
}

.scrolling {
    display: flex;
    scroll-behavior: smooth;
    overscroll-behavior: x;
    /* niet terug naar vorige pagina */
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    overflow: auto;
    margin: var(--md) var(--sm);

    &::-webkit-scrollbar {
        /* hides scrollbar */
        display: none;
    }

    img {
        padding-right: var(--xs);
    }
}

section.overview-vct {
    margin: 0 var(--sm) var(--md);

    h3.sm {
        color: var(--secondary-color);
        margin: 1.5rem 0 var(--xs);
    }

    h3.sm:nth-of-type(1) {
        margin-top: var(--sm);
    }

    article {
        border-left: 3px solid var(--primary-color);
        padding: 0 var(--xs);
        margin-bottom: var(--sm);

        &:hover {
            background-color: var(--primary-color);
            border-radius: var(--br-sm);
            color: var(--white);
            transition: .2s;
        }
    }

    .vct-block {
        display: flex;
        flex-direction: column;
        gap: .25rem;
    }

    @media (width > 26rem) {
        margin: 0 var(--md);

        .vct-block {
            display: grid;
            width: 100%;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: max-content max-content;

            h4 {
                grid-column: 1/-1;
            }

            p.vct-location {
                justify-self: end;
            }
        }
    }

    @media (width > 38rem) {
        margin: 0 var(--lg) var(--xl);

        .vct-block {
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: max-content;
            align-items: center;

            h4 {
                grid-column: 1/2;
            }

            p.vct-time {
                grid-column: 2/3;
                justify-self: center;
            }

            p.vct-location {
                grid-column: 3/4;
            }
        }
    }
}

footer {
    margin: 0 var(--sm);
    background-color: var(--primary-color);
    border-radius: var(--br-sm);
    padding: var(--md);
    display: flex;
    gap: 1rem;
    flex-direction: column;

    p {
        margin: 0 auto;
        color: var(--white);
    }

    .footer-longer-text {
        max-width: 41rem;
    }

    a {
        color: var(--white);

        &:hover {
            color: var(--secondary-color);
        }
    }

    nav {
        margin: 0 auto;
    }

}


button {
    cursor: pointer;
}


img {
    border-radius: 999px 999px 0px 999px;
    width: 200px;
    height: 200px;
    /* REPSONSIVE ^ */

    object-fit: cover;
}

/* positie afbeelding in druppel */
/* img:first-child {
    object-position: 20%;
} */



/* CAROUSEL */
img.item {
    display: block;
    width: 100%;
}

section.imgs-container {
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: max-content 1fr;
    gap: .3rem;
    align-items: center;
    margin: var(--md) auto;

    h1 {
        margin: var(--md) var(--sm) 0;
        grid-column: 1/-1;
    }

    @media (width > 34rem) {
        grid-template-columns: min-content var(--md) max-content var(--md);
        grid-template-rows: max-content;

        h1 {
            grid-column: 1;
            grid-row: 1;
            margin: 0;
        }

        align-items: center;
    }
}

div.carousel-view {
    width: 16rem;
    overflow-x: clip;
}

ul.item-list {
    --tx: 0;

    margin: 0 auto;
    padding: 0;
    list-style-type: "";
    width: 100%;

    padding-inline: var(--md);

    display: grid;
    grid-auto-columns: var(--md);
    grid-auto-flow: column;


    transform-style: preserve-3d;
    /* zorgt ervoor dat children in 3d gepositioneerd moeten worden */
    perspective: 45rem;
    /* maakt ene aafbeelding groter dan ander */
}

li {
    position: relative;
    width: 12rem;

    translate: calc(var(--tx) * -1px);
    transition: 1s;

    transform: translateZ(0rem);
    /* 	opacity:.5; */
}

li.active {
    transform: translateZ(5rem);
    /* 	filter:blur(0em); */
}

li.active+li {
    /* eerstvolgende li na de li.active */
    transform: translateZ(1rem);
}

li:has(+ li.active) {
    /* de li voor de active */
    transform: translateZ(1rem);
}

#previous-button {
    order: -1;
    width: 100%;
}

img.item {
    opacity: 0;
    transition: .5s;
}

li.active img.item {
    opacity: 1;
}

li.active+li img.item {
    opacity: .5;
    filter: blur(1px) grayscale(100%);
}

li:has(+ li.active) img.item {
    opacity: .5;
    filter: blur(1px) grayscale(100%);
}

button:disabled {
    opacity: 0;
}