body {
    margin: 0 auto;
}

.pic-collage-btn {
    position: fixed;
    top: 80%;
    left: 1rem;
}

header {
    margin: 1rem 1rem 0;
    background-color: var(--primary-orange-normal);
    border-radius: var(--br-sm); 
}


section.intro-txt {
    p {
        margin: 2rem 1rem 1.5rem;
    }
    a.btn-primary {
        display: flex;
        width: fit-content;
        align-items: center;
        gap: .25rem;

        svg {
            height: 1rem;
            width: 1rem;
        }

        margin: 0 1rem;
    }
}

section.business-qte {
    margin: 0 1rem;
    
    .quotes {
        color: var(--primary-orange-normal);
        font-style: italic;
        font-size: 1.25rem;
        margin-bottom: 5px;
    
        border-left: 3px solid var(--primary-orange-normal); 
        /* nog een border-radius erom */
    }
    
    @media (width > 39rem) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: .5rem;
        margin: 2rem 0;

        .quotes {
        margin:0;
    }
    }
}

.quotes:first-child {
    margin-top: 2rem;
}
.quotes:last-child {
    margin-bottom: 2rem;
}

section.subtext {
    p {
        margin: 2rem 1rem;
    }

    .scrolling {
        img {
            padding-right: .5rem;
        }

        display: flex;
        scroll-behavior: smooth;
        overscroll-behavior: x;             /* niet terug naar vorige pagina */
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        overflow: auto;

        margin: 2rem 1rem;
    }
    .scrolling::-webkit-scrollbar {         /* hides scrollbar */
        display: none;
      }
}

section.overview-vct {
    margin: 0 1rem 2rem;
    
    h3.sm {
        color: var(--primary-orange-dark);
        margin-bottom: .5rem;
    }

    article {
        border-left: 3px solid var(--primary-orange-normal);
        padding-left: .5rem;
        margin-bottom: .5rem;
    }
    
    .vct-block {
        display: flex;
        flex-direction: column;
        gap: .25rem;
    }
   
    @media (width > 28rem) {
        .vct-block {
            display: grid;
            width: 100%;
            grid-template-columns: max-content max-content;
            grid-template-rows: fit-content max-content;
            

            h4 {
                grid-column: 1/-1;
            }
        }
    }
}

footer {
    margin: 0 1rem;
    background-color: var(--primary-orange-normal);
    border-radius: var(--br-sm);
    padding: 1rem;
}


button {
    cursor: pointer;
}


img {
    border-radius: 999px 999px 0px 999px;
    width: 200px;
    height: 200px;
    /* REPSONSIVE ^ */

    object-fit: cover;
}

/* positie afbeelding in druppel */
/* img:first-child {
    object-position: 20%;
} */



/* CAROUSEL */
img.item {
    display: block;
    width: 100%;
}

section.imgs-container{
    margin: 0 auto;
    width:20rem;
	
	display:grid;
	grid-template-columns:1fr max-content 1fr;
    grid-template-rows: max-content 1fr;
	gap:.3em;
	align-items:center;

    margin: 2rem 0;

    h1 {
        margin: 2rem 1rem 0;
        grid-column: 1/-1;
    }
}

div.carousel-view {
    width:16em;
    overflow-x:clip;
}

ul.item-list {
	--tx:0;
	
	margin: 0 auto;
	padding:0;
	list-style-type:"";
	width:100%;
	
	padding-inline:2em;
	
	display:grid;
	grid-auto-columns:2em;
	grid-auto-flow:column;
	
    
	transform-style: preserve-3d;           /* zorgt ervoor dat children in 3d gepositioneerd moeten worden */
	perspective:45em;                       /* maakt ene aafbeelding groter dan ander */
}   

li {
    position:relative;
    width:12em;
    
    translate: calc(var(--tx) * -1px);
    transition:1s;

    transform:translateZ(0em);
    /* 	opacity:.5; */
}

li.active {
	transform:translateZ(5em);
/* 	filter:blur(0em); */
}

li.active + li {                            /* eerstvolgende li na de li.active */
	transform:translateZ(1em);
}

li:has( + li.active ) {                     /* de li voor de active */
	transform:translateZ(1em);
}

#previous-button {
	order:-1;
	width:100%;
}

img.item {
	opacity:0;
	transition:.5s;
}

li.active img.item {
	opacity:1;
}

li.active + li img.item {
	opacity:.5;
    filter: blur(1px) grayscale(100%);
}

li:has( + li.active ) img.item {
	opacity:.5;
    filter: blur(1px) grayscale(100%);
}

button:disabled {
    opacity: 0;
}