body {
    /* COLORS */
    --black: #000000;
    --white: #ffffff;
    --primary-orange-normal: #e8712c;
    --primary-orange-dark: #b65100;
    --tertiary-color: #ffdd00;

    /* FONTS */
    --primary-font: ;
    --secondary-font: ;

    /* FONT-WEIGHT */
    --normal: 400;
    --semibold: 600;
    --bold: 700;
}

.links {
    color: var(--primary-orange-dark);
}

/* BUTTONS */
.btn-primary {
    color: var(--white);
    border: 1px solid var(--primary-orange-normal);
    border-radius: .25rem .25rem .25rem 0;
    background-color: var(--primary-orange-normal);
    padding: 0 1rem;
}
.btn-primary:hover {
    color: var(--white);
    border: 1px solid var(--primary-orange-dark);
    background-color: var(--primary-orange-dark);
}
.btn-primary:focus {
    border: 1px solid var(--primary-orange-dark);
}
.btn-primary:focus-visible {
    border: 1px solid var(--black);
}

.prev-btn, .nxt-btn {
    border: none;
    border-radius: .25rem;
    background-color: var(--white);
    /* box-shadow: 0 0 #0000,
    0 0 #0000,
    0 2px 4px rgba(0, 0, 0, .1); */
}
.prev-btn:hover, .nxt-btn:hover {   
    color: var(--primary-orange-normal);
}
.prev-btn:focus, .nxt-btn:focus {
    border: 1px solid var(--primary-orange-dark);
}


/* FONTS VACATURES */
.vct-block {
    font-size: 1rem;
}

img {
    width: 100%;
}